<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="descripition" content="Layouts com css">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modelo 01</title>

</head>

<body>
    <div id="main">
        <header id="topo">
            <div class="row">
                <div class="bloco1 vermelho"></div>
            </div>
        </header>
        <section="conteudo">
            <div class="row">

                <div class="bloco3 amarelo"></div>

                <div class="bloco4 verde"></div>

                <div class="bloco5 laranja">
                </div>
                </section>
                <footer id="rodape">
                    <div class="row">
                        <div class="bloco1 vermelho"></div>
                    </div>
                </footer>
            </div>

            </header>
    </div>


</body>

</html>