<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="descripition" content="Layouts com css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modelo 01</title>

</head>

<body>
    <div id="main">
        <header id="topo">
            <div class="row">
                <div class="bloco12 vermelho"></div>
            </div>
        </header>
        <section="conteudo">
            <div class="row">
                <div class="bloco5">
                    <div class="bloco12 azul"></div>
                    <div class="bloco12 verde"></div>
                </div>
                <div class="bloco4 amarelo"></div>
            </div>
        </section>
        <footer id="rodape">
            <div class="row">
                <div class="bloco12 vermelho"></div>
            </div>
        </footer>
    </div>
</body>
</html>