<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="Layout com css">
    <link rel="stylesheet" href="css/style.css"type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <header>
            <div class="row">
                <div class="bloco12 vermelho altura1"></div>
            </div>

        </header>
        <section>
            <div class="row">
                <div class="bloco5">
                    <div class="boloco12 amarelo altura1"></div>
                    <div class="bloco12 laranja altura1"></div>
                    <div class="bloco12 vermelho altura1"></div>
                </div>
                <div class="bloco5">
                    <div class="bloco6 azul altura3"></div>
                    <div class="bloco6 verde altura3"></div>
                    <div class="bloco12 roxo
                     altura1"></div>
                </div>
                <div class="bloco2">
                    <div class="bloco12 pink altura2"></div>
                    <div class="bloco12 rose altura2"></div>
                </div>
            </div>

        </section>
        <footer>
            <div class="row"></div>
            <div class="bloco6 laranja altura1"></div>
            <div class="bloco6 azul altura1"></div>

        </footer>
        

        
        
      
    


    </div>
      
    
</body>
</html>